# Basic Data Cleaning

In [1]:
import pandas as pd

In [2]:
exoplanets = pd.read_csv('cumulative.csv')
exoplanets.head()

,rowid,kepid,kepoi_name,kepler_name,koi_disposition,koi_pdisposition,koi_score,koi_fpflag_nt,koi_fpflag_ss,koi_fpflag_co,...,koi_steff_err2,koi_slogg,koi_slogg_err1,koi_slogg_err2,koi_srad,koi_srad_err1,koi_srad_err2,ra,dec,koi_kepmag
0,1,10797460,K00752.01,Kepler-227 b,CONFIRMED,CANDIDATE,1.000,0,0,0,...,-81.0,4.467,0.064,-0.096,0.927,0.105,-0.061,291.93423,48.141651,15.347
1,2,10797460,K00752.02,Kepler-227 c,CONFIRMED,CANDIDATE,0.969,0,0,0,...,-81.0,4.467,0.064,-0.096,0.927,0.105,-0.061,291.93423,48.141651,15.347
2,3,10811496,K00753.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,0,1,0,...,-176.0,4.544,0.044,-0.176,0.868,0.233,-0.078,297.00482,48.134129,15.436
3,4,10848459,K00754.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,0,1,0,...,-174.0,4.564,0.053,-0.168,0.791,0.201,-0.067,285.53461,48.285210,15.597
4,5,10854555,K00755.01,Kepler-664 b,CONFIRMED,CANDIDATE,1.000,0,0,0,...,-211.0,4.438,0.070,-0.210,1.046,0.334,-0.133,288.75488,48.226200,15.509

In [3]:
exoplanets.columns

Index(['rowid', 'kepid', 'kepoi_name', 'kepler_name', 'koi_disposition',
       'koi_pdisposition', 'koi_score', 'koi_fpflag_nt', 'koi_fpflag_ss',
       'koi_fpflag_co', 'koi_fpflag_ec', 'koi_period', 'koi_period_err1',
       'koi_period_err2', 'koi_time0bk', 'koi_time0bk_err1',
       'koi_time0bk_err2', 'koi_impact', 'koi_impact_err1', 'koi_impact_err2',
       'koi_duration', 'koi_duration_err1', 'koi_duration_err2', 'koi_depth',
       'koi_depth_err1', 'koi_depth_err2', 'koi_prad', 'koi_prad_err1',
       'koi_prad_err2', 'koi_teq', 'koi_teq_err1', 'koi_teq_err2', 'koi_insol',
       'koi_insol_err1', 'koi_insol_err2', 'koi_model_snr', 'koi_tce_plnt_num',
       'koi_tce_delivname', 'koi_steff', 'koi_steff_err1', 'koi_steff_err2',
       'koi_slogg', 'koi_slogg_err1', 'koi_slogg_err2', 'koi_srad',
       'koi_srad_err1', 'koi_srad_err2', 'ra', 'dec', 'koi_kepmag'],
      dtype='object')

In [5]:
exoplanets_df = exoplanets[['kepid', 'kepoi_name', 'koi_disposition', 'koi_pdisposition', 'koi_score', 'koi_fpflag_nt', 'koi_fpflag_ss',\
                           'koi_fpflag_co', 'koi_fpflag_ec', 'koi_period', 'koi_time0bk', 'koi_impact', 'koi_duration',\
                           'koi_depth', 'koi_prad', 'koi_teq', 'koi_insol', 'koi_model_snr', 'koi_steff', 'koi_slogg',\
                           'koi_srad', 'ra', 'dec', 'koi_kepmag']]

In [6]:
exoplanets_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9564 entries, 0 to 9563
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   kepid             9564 non-null   int64
 1   kepoi_name        9564 non-null   object
 2   koi_disposition   9564 non-null   object
 3   koi_pdisposition  9564 non-null   object
 4   koi_score         8054 non-null   float64
 5   koi_fpflag_nt     9564 non-null   int64
 6   koi_fpflag_ss     9564 non-null   int64
 7   koi_fpflag_co     9564 non-null   int64
 8   koi_fpflag_ec     9564 non-null   int64
 9   koi_period        9564 non-null   float64
 10  koi_time0bk       9564 non-null   float64
 11  koi_impact        9201 non-null   float64
 12  koi_duration      9564 non-null   float64
 13  koi_depth         9201 non-null   float64
 14  koi_prad          9201 non-null   float64
 15  koi_teq           9201 non-null   float64
 16  koi_insol         9243 non-null   float64
 17  koi_model_snr     9201 non-null   float64
 18  koi_steff         9201 non-null   float64
 19  koi_slogg         9201 non-null   float64
 20  koi_srad          9201 non-null   float64
 21  ra                9564 non-null   float64
 22  dec               9564 non-null   float64
 23  koi_kepmag        9563 non-null   float64
dtypes: float64(16), int64(5), object(3)
memory usage: 1.8+ MB

In [8]:
null_rows = exoplanets_df.loc[exoplanets_df['koi_score'].isna()]
null_rows.head()

,kepid,kepoi_name,koi_disposition,koi_pdisposition,koi_score,koi_fpflag_nt,koi_fpflag_ss,koi_fpflag_co,koi_fpflag_ec,koi_period,...,koi_prad,koi_teq,koi_insol,koi_model_snr,koi_steff,koi_slogg,koi_srad,ra,dec,koi_kepmag
24,2306756,K00113.01,FALSE POSITIVE,FALSE POSITIVE,NaN,0,1,0,0,386.603053,...,41.50,297.0,1.84,994.0,5543.0,4.081,1.580,292.27374,37.671558,12.394
75,12459725,K00789.01,FALSE POSITIVE,FALSE POSITIVE,NaN,0,0,0,1,14.179819,...,1.88,711.0,60.35,11.2,5799.0,4.539,0.878,291.04480,51.321671,15.727
99,3832474,K00806.03,CONFIRMED,CANDIDATE,NaN,0,0,0,0,29.159862,...,1.91,524.0,17.85,11.6,5485.0,4.556,0.867,285.28363,38.947281,15.403
122,5115978,K00823.01,CANDIDATE,CANDIDATE,NaN,0,0,0,0,1.028437,...,72.77,1947.0,3400.48,89.6,6228.0,4.428,0.990,296.00699,40.295429,15.202
317,10460629,K01168.01,CANDIDATE,CANDIDATE,NaN,0,0,0,0,856.672115,...,3.87,242.0,0.81,39.2,6449.0,4.232,1.309,287.58679,47.600021,13.997

In [10]:
exoplanets_df_drop_null = exoplanets_df.dropna()
clean_exoplanets_df = exoplanets_df_drop_null.reset_index(drop = True)

In [11]:
# Check if null rows were dropped
clean_exoplanets_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7994 entries, 0 to 7993
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   kepid             7994 non-null   int64
 1   kepoi_name        7994 non-null   object
 2   koi_disposition   7994 non-null   object
 3   koi_pdisposition  7994 non-null   object
 4   koi_score         7994 non-null   float64
 5   koi_fpflag_nt     7994 non-null   int64
 6   koi_fpflag_ss     7994 non-null   int64
 7   koi_fpflag_co     7994 non-null   int64
 8   koi_fpflag_ec     7994 non-null   int64
 9   koi_period        7994 non-null   float64
 10  koi_time0bk       7994 non-null   float64
 11  koi_impact        7994 non-null   float64
 12  koi_duration      7994 non-null   float64
 13  koi_depth         7994 non-null   float64
 14  koi_prad          7994 non-null   float64
 15  koi_teq           7994 non-null   float64
 16  koi_insol         7994 non-null   float64
 17  koi_model_snr     7994 non-null   float64
 18  koi_steff         7994 non-null   float64
 19  koi_slogg         7994 non-null   float64
 20  koi_srad          7994 non-null   float64
 21  ra                7994 non-null   float64
 22  dec               7994 non-null   float64
 23  koi_kepmag        7994 non-null   float64
dtypes: float64(16), int64(5), object(3)
memory usage: 1.5+ MB

In [12]:
clean_exoplanets_df.to_csv('kepler_planets.csv', index = False)